@import url('https://rsms.me/inter/inter.css');
@tailwind base;

@import '../css/rigel-prism.css';

/* Global */
html {
  @apply text-lg antialiased leading-relaxed text-gray-900 bg-white;
}

/* Headers */
h1 {
  @apply my-6 text-3xl font-bold;
}

h2 {
  @apply my-6 text-2xl font-bold;
}

h3,
h4 {
  @apply my-3 text-xl font-semibold;
}

h5,
h6 {
  @apply my-2 text-lg;
}

.link {
  @apply font-semibold text-red-700 underline cursor-pointer;
  text-decoration-thickness: 2px;
}

a {
  @apply font-semibold text-red-700 underline cursor-pointer;
  text-decoration-thickness: 2px;
}

p {
  @apply mb-4;
}

/* Lists */
ul {
  @apply list-disc;
}

ol {
  @apply list-decimal;
}

ul,
ol {
  @apply mb-4 ml-8;
}

li {
  @apply mb-2;
}

/* Code */
pre {
  @apply mb-4;
}

.highlight {
  @apply py-1 bg-blue-200 rounded;
}

mark {
  @apply py-1 font-semibold bg-blue-200 rounded;
}

.gerbode-card-highlight-em em {
  @apply py-1 not-italic bg-blue-200 rounded;
}

@tailwind components;

.navigation-header-text-gray {
  @apply text-gray-200;
}

.navigation-header-text-gray:hover {
  @apply text-gray-400;
}

.modal {
  transition: opacity 0.25s ease;
}

.modal-active {
  overflow-x: hidden;
  overflow-y: visible !important;
}

.modal-body {
  @apply overflow-y-auto;
  max-height: calc(100vh - 200px);
}

.label {
  @apply block text-sm font-bold text-gray-700;
}

@tailwind utilities;
