---
import type { HTMLTag, Polymorphic } from 'astro/types'

type Props<Tag extends HTMLTag> = Polymorphic<{ as: Tag; decorate?: boolean }>

const { as: Tag, decorate = false, class: className, ...props } = Astro.props
---

<Tag
  class:list={[
    className,
    'relative z-10 order-first mb-3 flex items-center text-sm text-zinc-500 dark:text-zinc-400',
    decorate && 'pl-3.5',
  ]}
  {...props}
>
  {
    decorate && (
      <span
        class="absolute inset-y-0 left-0 flex items-center"
        aria-hidden="true"
      >
        <span class="h-4 w-0.5 rounded-full bg-zinc-200 dark:bg-zinc-500" />
      </span>
    )
  }
  <slot />
</Tag>
