---
import Container from '../components/Container.astro'
import SocialLink from '../components/home/SocialLink.astro'
import RootLayout from '../layouts/RootLayout.astro'
import Photos from '../components/home/Photos.astro'
import Resume from '../components/home/Resume.astro'
import Article from '../components/home/Article.astro'
import { getCollection } from 'astro:content'

const articles = (await getCollection('article'))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 4)
---

<RootLayout>
  <Container class="mt-9">
    <div class="max-w-2xl">
      <h1
        class="text-4xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-5xl"
      >
        Software engineer, consultant, lover of learning.
      </h1>
      <p class="mt-6 text-base text-zinc-600 dark:text-zinc-400">
        I’m Alexander, a software engineer and consultant based in The UK. I’m
        the founder of Keliris Consulting, where we help enterprises build
        modern, fast and reliable software. I mostly focus on Rust 🦀, Golang,
        Node.js, Typescript, React and AWS. I’m also a keen musician; playing
        the piano, guitar and renaissance lute.
      </p>
      <div class="mt-6 flex gap-6">
        <SocialLink
          href="https://twitter.com/alexkeliris"
          aria-label="Follow on Twitter"
          icon={'twitter'}
        />
        <SocialLink
          href="https://github.com/Rigellute/"
          aria-label="Follow on GitHub"
          icon={'github'}
        />
        <SocialLink
          href="https://linkedin.com/in/alexander-keliris-808270b2"
          aria-label="Follow on LinkedIn"
          icon={'linkedin'}
        />
      </div>
    </div>
  </Container>
  <Photos />
  <Container class="mt-24 md:mt-28">
    <div
      class="mx-auto grid max-w-xl grid-cols-1 gap-y-20 lg:max-w-none lg:grid-cols-2"
    >
      <div class="flex flex-col gap-16">
        {
          articles.map((article) => (
            <Article
              article={{
                id: article.id,
                date: article.data.pubDate,
                slug: article.slug,
                title: article.data.title,
                description: article.data.description,
              }}
            />
          ))
        }
      </div>
      <div class="space-y-10 lg:pl-16 xl:pl-24">
        <Resume />
      </div>
    </div>
  </Container>
</RootLayout>
