---
import logoPlanetaria from '../../images/logos/planetaria.svg'
import logoFormidable from '../../images/logos/formidable.svg'
import logoRota from '../../images/logos/rota.svg'
import logoHive from '../../images/logos/hive.svg'
import logoWebb from '../../images/logos/webb-logo.png'
import logoEaze from '../../images/logos/eaze.png'
import logoHagerty from '../../images/logos/hagerty.png'
import logoWarby from '../../images/logos/warby.png'
import kcLogo from '../../images/logos/keliris-consulting-logo.svg'
import fintechLogo from '../../images/logos/fintech.svg'
import BriefcaseIcon from '../icons/Briefcase.astro'
import Role, { type Role as RoleType } from './Role.astro'

const resume: RoleType[] = [
  {
    company: 'US Fintech Company',
    title: 'Vice President of Engineering',
    logo: fintechLogo,
    start: '2024',
    end: {
      label: 'Present',
      dateTime: new Date().getFullYear().toString(),
    },
    iconStyle: {
      backgroundColor: 'white',
      padding: '3px',
    },
  },
  {
    company: 'Webb Technology',
    title: 'Consultant',
    logo: logoWebb,
    start: '2022',
    end: '2024',
  },
  {
    company: 'Warby Parker',
    title: 'Consultant',
    logo: logoWarby,
    start: '2022',
    end: '2023',
  },
  {
    company: 'Hagerty',
    title: 'Consultant',
    logo: logoHagerty,
    start: '2020',
    end: '2022',
  },
  {
    company: 'Eaze',
    title: 'Consultant',
    logo: logoEaze,
    start: '2020',
    end: '2020',
  },
  {
    company: 'Formidable',
    title: 'Consultant',
    logo: logoFormidable,
    start: '2020',
    end: '2023',
  },
  {
    company: 'Hive',
    title: 'Contract React Native Engineer',
    logo: logoHive,
    start: '2018',
    end: '2020',
    iconStyle: {
      backgroundColor: '#ff7a00',
      padding: '3px',
    },
  },
  {
    company: 'Keliris Consulting',
    title: 'Founder',
    logo: kcLogo,
    start: '2018',
    end: '2024',
  },
  {
    company: 'Rota',
    title: 'Full Stack Software Engineer',
    logo: logoRota,
    start: '2016',
    end: '2018',
  },
  {
    company: 'Freelance',
    title: 'Frontend developer',
    logo: logoPlanetaria,
    start: '2015',
    end: '2016',
  },
]
---

<div class="rounded-2xl border border-zinc-100 p-6 dark:border-zinc-700/40">
  <h2 class="flex text-sm font-semibold text-zinc-900 dark:text-zinc-100">
    <BriefcaseIcon class="h-6 w-6 flex-none" />
    <span class="ml-3">Work</span>
  </h2>
  <ol class="mt-6 space-y-4">
    {resume.map((role) => <Role role={role} />)}
  </ol>
</div>
