---
type Props = {
  href: string
}

const { href } = Astro.props
---

<li>
  <desktop-navitem>
    <a href={href} class:list={['relative block px-3 py-2 transition']}>
      <slot />
      <span
        class="hidden absolute inset-x-1 -bottom-px h-px bg-gradient-to-r from-teal-500/0 via-teal-500/40 to-teal-500/0 dark:from-teal-400/0 dark:via-teal-400/40 dark:to-teal-400/0"
      ></span>
    </a>
  </desktop-navitem>
</li>

<script>
  class DesktopNavItem extends HTMLElement {
    constructor() {
      super()

      const link = this.querySelector('a')
      const highlight = this.querySelector('span')
      if (!link || !highlight) {
        return
      }

      const href = new URL(link.href).pathname
      const isActive = window.location.pathname === href

      if (isActive) {
        link.classList.toggle('text-teal-700')
        link.classList.toggle('dark:text-teal-400')
        highlight.classList.toggle('hidden')
      } else {
        link.classList.toggle('hover:text-teal-700')
        link.classList.toggle('dark:hover:text-teal-400')
      }
    }
  }
  customElements.define('desktop-navitem', DesktopNavItem)
</script>
