---
type Props = {
  href: string
}

const { href } = Astro.props
---

<li>
  <a href={href} id="link" class:list={['relative block px-3 py-2 transition']}>
    <slot />
    <span
      id="highlight"
      class="absolute inset-x-1 -bottom-px h-px bg-gradient-to-r from-teal-500/0 via-teal-500/40 to-teal-500/0 dark:from-teal-400/0 dark:via-teal-400/40 dark:to-teal-400/0"
    ></span>
  </a>
</li>

<script>
  const link = document.getElementById('link') as HTMLAnchorElement
  const highlight = document.getElementById('highlight') as HTMLSpanElement
  const isActive = window.location.pathname === link.href

  if (isActive) {
    link.classList.toggle('text-teal-500')
    link.classList.toggle('dark:text-teal-400')
    highlight.classList.toggle('hidden')
  } else {
    link.classList.toggle('hover:text-teal-500')
    link.classList.toggle('dark:hover:text-teal-400')
    highlight.classList.toggle('hidden')
  }
</script>
