---
type Props ={
  class?: string
};
const { class: className, ...props } = Astro.props;
---
<div class:list={['sm:px-8', className]} {...props}>
  <div class="mx-auto w-full max-w-7xl lg:px-8"><slot/></div>
</div>

