---
export interface Props {
  className?: string;
}

const { className = "" } = Astro.props;
---

<div
  class={`prose prose-slate dark:prose-invert md:prose-lg lg:prose-xl xl:prose-2xl prose-a:underline prose-a:underline-offset-4 prose-a:decoration-sky-400 prose-a:decoration-3 hover:prose-a:bg-slate-50 dark:hover:prose-a:bg-slate-700  prose-h2:text-rose-600 dark:prose-h2:text-rose-400 prose-img:rounded ${className}`}
>
  <slot />
</div>
