---
import { type HTMLAttributes } from 'astro/types'
type Props = HTMLAttributes<'div'>

const { class: className } = Astro.props
---

<div class:list={['prose dark:prose-invert', className]}><slot /></div>
