/*! purgecss start ignore */
@import 'tailwindcss/base';

/* Global */
html {
  @apply leading-relaxed text-lg antialiased text-gray-900 bg-white;
}

/* Headers */
h1 {
  @apply text-3xl my-6 font-bold;
}

h2 {
  @apply text-2xl my-6 font-bold;
}

h3,
h4 {
  @apply text-xl my-3 font-semibold;
}

h5,
h6 {
  @apply text-lg my-2;
}

.link {
  @apply text-red-700 underline font-semibold cursor-pointer;
  text-decoration-thickness: 2px;
}

a {
  @apply link;
}

p {
  @apply mb-4;
}

/* Lists */
ul {
  @apply list-disc;
}

ol {
  @apply list-decimal;
}

ul,
ol {
  @apply mb-4 ml-8;
}

li {
  @apply mb-2;
}

/* Code */
pre {
  @apply mb-4;
}

.highlight {
  @apply bg-blue-200 py-1 rounded;
}

mark {
  @apply highlight font-semibold;
}

/* Highlight rule for gerbode search */
/* purgecss ignore */
.gerbode-card-highlight-em em {
  @apply highlight not-italic;
}

@import 'tailwindcss/components';

.navigation-header-text-gray {
  @apply text-gray-200;
}

.navigation-header-text-gray:hover {
  @apply text-gray-500;
}

.input {
  @apply border border-transparent rounded-lg bg-gray-200 py-2 px-4 block appearance-none leading-normal;
}

.input:focus {
  @apply bg-white border-gray-300;
}

.modal {
  transition: opacity 0.25s ease;
}

.modal-active {
  overflow-x: hidden;
  overflow-y: visible !important;
}

.modal-body {
  @apply overflow-y-auto;
  max-height: calc(100vh - 200px);
}

/*! purgecss end ignore */
@import 'tailwindcss/utilities';
