---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'

type Props = { isHomePage?: boolean }

const { isHomePage = false } = Astro.props
---

<div class="fixed inset-0 flex justify-center sm:px-8">
  <div class="flex w-full max-w-7xl lg:px-8">
    <div
      class="w-full bg-white ring-1 ring-zinc-100 dark:bg-zinc-900 dark:ring-zinc-300/20"
    >
    </div>
  </div>
</div>
<div class="relative flex w-full flex-col">
  <Header isHomePage={isHomePage} />
  <main class="flex-auto">
    <slot />
  </main>
  <Footer />
</div>
